/* Categories css */
.categoriesContainer {
	max-width: 100vw;
	height: auto;
	/* background: rgb(237, 177, 128); */
	/* background: black; */
	position: relative;
	top: 10vh;
	z-index: 1;
	/* left: 0; */
	display: flex;
	flex-direction: column;
	gap: 15rem;
	justify-content: center;
	align-items: center;
	/* margin-top: 10rem; */
}
.categoriesContainer .imageCard {
	width: 97%;
	height: 100vh;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	gap: 3rem;
	/* left: 50%;
	transform: translateX(-50%); */
	position: sticky;
	top: 0vh;
	background: rgb(253, 255, 253);
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1),
		/* Large soft shadow */ 0 4px 10px rgba(0, 0, 0, 0.05),
		/* Subtle depth */ 0 1px 3px rgba(0, 0, 0, 0.03); /* Extra smooth effect */
	padding: 0.5rem 2rem;
}
.categoriesContainer .imageCard img {
	/* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); */
	width: 100%;
	height: 80%;
	object-fit: contain;
	position: absolute;
	left: 0;
	top: 0;
	padding: 1rem;

	/* aspect-ratio: 1/1; */
	scale: 0.95;
	transition: 0.6s ease-out;
	cursor: pointer;
}
/* .categoriesContainer .imageCard img:hover {
	scale: 1;
} */

/* .imageCard .image-wrapper:hover img,
.imageCard .image-wrapper:hover .text-overlay {
	filter: blur(0.2px);
	opacity: 0.85;
} */
.visit-link {
	position: absolute;
	top: 92%;
	left: 90%;
	transform: translate(-50%, -50%);
	opacity: 1;
	z-index: 10;

	color: white;
	font-size: 1.5rem;
	font-weight: bold;
	text-decoration: none;
	padding: 12px 24px;
	background: rgba(0, 0, 0, 0.9);
	border-radius: 30px;
	border: 2px solid white;
	transition: all 0.3s ease;
}

/* .image-wrapper:hover .visit-link {
	opacity: 1;
} */

.visit-link:hover {
	background: rgba(0, 0, 0, 0.7);
	transform: translate(-50%, -50%) scale(1.05);
}
.categoriesContainer .imageCard h1 {
	/* position: absolute;
	left: 2.5rem;
	bottom: 11%; */
	font-size: 34px;
	font-weight: 900;
	font-family: "Poppins", serif;
	color: rgb(23, 23, 23);
}
.categoriesContainer .imageCard h2 {
	/* position: absolute;
	left: 2.5rem;
	bottom: 7%; */
	font-size: 18px;
	font-weight: 400;
	font-family: "Poppins", serif;
	color: rgb(23, 23, 23);

	line-height: 1.5;
}
.imageCard div {
	width: 80%;
	margin-right: 5rem;
	/* display: flex;
	flex-direction: column;
	gap: 2rem;
	height: 50%;
	/* margin-top: 15rem; */
}

.footer {
	background: rgb(237, 177, 128);
	height: 100vh;
	width: 100vw;
	position: relative;
	top: 700vh;
}

@media (max-width: 768px) {
	.categoriesContainer .imageCard {
		padding: 0.2rem 0.5rem;
		height: 70vh;
	}
	.categoriesContainer .imageCard img {
		height: 50%;
		object-fit: cover;
		padding: 0.5rem;
	}
	.categoriesContainer .imageCard img:hover {
		height: 40%;
		object-fit: contain;
		transition: 0.4s ease-in-out;
	}
	.categoriesContainer .imageCard h1 {
		/* position: absolute;
		left: 0.5rem;
		bottom: 40%; */
		font-size: 24px;
		font-weight: 900;
		font-family: "Poppins", serif;
		color: rgb(23, 23, 23);
	}
	.categoriesContainer .imageCard h2 {
		/* position: absolute;
		left: 0.5rem;
		bottom: 30%; */
		font-size: 16px;
		font-weight: 400;
		font-family: "Poppins", serif;
		color: rgb(23, 23, 23);

		margin-top: 1rem;
		line-height: 1.5;
	}
	.visit-link {
		position: absolute;
		top: 85%;
		left: 14%;
		transform: translate(-50%, -50%);
		opacity: 1;
		z-index: 10;

		color: white;
		font-size: 1rem;
		font-weight: bold;
		text-decoration: none;
		padding: 12px 24px;
		background: rgba(0, 0, 0, 0.9);
		border-radius: 30px;
		border: 2px solid white;
		transition: all 0.3s ease;
	}
}
