/* Categories css */
.categoriesContainer {
	max-width: 100vw;
	height: 300vh;
	/* background: rgb(237, 177, 128); */
	/* background: black; */
	position: relative;
	top: 10vh;
	z-index: 1;
	/* left: 0; */
	display: flex;
	flex-direction: column;
	gap: 15rem;
	justify-content: center;
	align-items: center;
	/* margin-top: 10rem; */
}
.categoriesContainer .imageCard {
	width: 97%;
	height: 160vh;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	gap: 3rem;
	/* left: 50%;
	transform: translateX(-50%); */
	position: sticky;
	top: 0vh;
	background: rgb(253, 255, 253);
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1),
		/* Large soft shadow */ 0 4px 10px rgba(0, 0, 0, 0.05),
		/* Subtle depth */ 0 1px 3px rgba(0, 0, 0, 0.03); /* Extra smooth effect */
	padding: 0.5rem 2rem;
}
.categoriesContainer .imageCard img {
	/* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); */
	width: 100%;
	height: 80%;
	object-fit: contain;
	position: absolute;
	left: 0;
	top: 0;
	padding: 1rem;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1),
		/* Large soft shadow */ 0 4px 10px rgba(0, 0, 0, 0.05),
		/* Subtle depth */ 0 1px 3px rgba(0, 0, 0, 0.03); /* Extra smooth effect */
	/* aspect-ratio: 1/1; */
	scale: 0.95;
	transition: 0.6s ease-out;
	cursor: pointer;
}
.categoriesContainer .imageCard img:hover {
	scale: 1;
}
.categoriesContainer .imageCard h1 {
	position: absolute;
	left: 2.5rem;
	bottom: 11%;
	font-size: 34px;
	font-weight: 900;
	font-family: "Poppins", serif;
	color: rgb(23, 23, 23);
}
.categoriesContainer .imageCard h2 {
	position: absolute;
	left: 2.5rem;
	bottom: 7%;
	font-size: 18px;
	font-weight: 400;
	font-family: "Poppins", serif;
	color: rgb(23, 23, 23);

	margin-top: 2rem;
	line-height: 1.5;
}
.imageCard div {
	width: 80%;
	margin-right: 5rem;
	/* display: flex;
	flex-direction: column;
	gap: 2rem;
	height: 50%;
	/* margin-top: 15rem; */
}

.footer {
	background: rgb(237, 177, 128);
	height: 100vh;
	width: 100vw;
	position: relative;
	top: 700vh;
}
