@keyframes float {
	0% {
		transform: translateY(0) translateX(0);
		opacity: 1;
	}
	50% {
		transform: translateY(-20px) translateX(10px);
		opacity: 0.8;
	}
	100% {
		transform: translateY(0) translateX(0);
		opacity: 1;
	}
}
.bgImageTech {
	background: url(/images/FemaleRobotMorphism.webp) 50% 50% no-repeat;
	object-fit: cover;
	background-size: 115%;
	filter: blur(10px);
}
