.spacer {
	width: 100%;
	height: 20vh;
}
.contentContainer {
	width: 100%;
	display: flex;
	overflow: hidden;
	background: linear-gradient(120deg, #834b97, #28a6a6, #0c6a14);
	color: white;
}
.leftView {
	width: 50%;
	height: 100%;
}
.content {
	width: 100%;
	height: 100vh;
}
.rightView {
	width: 60%;
	/* height: 100vh; */
	display: flex;
	flex-direction: column;
	overflow: hidden;
	/* justify-content: center; */
}

.images {
	/* width: 40vw;
    height: 40vh; */
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	/* margin-top: 3rem; */
	overflow: hidden;
	position: relative;
	left: -5%;
	bottom: 2%;
}
.red {
	/* background-color: red; */
}
.green {
	/* background-color: green; */
}
.blue {
	/* background-color: blue; */
}
.image {
	height: 50%;
	width: 100%;
	position: absolute;
	margin: 5rem 0;
	/* left: -10%; */
	/* margin-left: 4rem; */
	scale: 0.8;
	transform-origin: 50% 50%;
	aspect-ratio: 1;
	/* background: url(/images/Mockup.png); */
}
.view {
	/* height: 100vh; */
}
.pink {
	/* background-color: rgb(243, 92, 117); */
}
