.italic {
	font-style: italic;
	font-size: 290px !important;
}
.russian {
	font-style: oblique;
}
.french {
	font-style: inherit;
}
.slide {
	/* background: red; */
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	justify-content: center;
	max-width: 100vw;
	height: 10rem;
	overflow: hidden;
	margin: 2rem 0;
}
.slide span {
	color: black;
	font-size: 240px;
	font-weight: 900;
}
.circle {
	clip-path: circle(10% at 10% 40%);
}
