@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap"); */

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: var(--font-Oswald);
}
.main-img {
	filter: drop-shadow(3px 3px 1px white);
}
.button {
	width: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	margin-top: 4rem;
	padding: 1rem 1.5rem;
	border-radius: 30px;
	font-weight: bold;
	text-transform: uppercase;
	position: relative;
	background: transparent;
	border: 2px solid transparent;
	overflow: hidden;
	position: relative;
	transition: transform 0.3s ease-out, box-shadow 0.3s ease-in-out;
}

/* Border with metallic effect */
.button::before {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: 30px;
	padding: 2px; /* Adjust thickness */
	background: linear-gradient(120deg, #00c6ff, #00ff88, #00c6ff);
	-webkit-mask: linear-gradient(white 0 0) content-box,
		linear-gradient(white 0 0);
	-webkit-mask-composite: xor;
	mask-composite: exclude;
	animation: rotateShine 4s linear infinite;
}
.hover {
	transform: scale(1.1);
	box-shadow: 0 0 15px rgba(0, 255, 136, 0.5);

	position: relative;
	z-index: 100;
}

/* Hover effect */
.button:hover {
	transform: scale(1.1);
	box-shadow: 0 0 15px rgba(0, 255, 136, 0.5);
	cursor: pointer;
}
.banner-img {
	position: absolute;
	clip-path: circle(20% at 80% 50%);
	height: 100vh;
	width: 100vw;
	transform-origin: 50% 50%;
	background: url(../../public//images//57695504619.png) 50% 50% no-repeat;
	background-size: 200%;
}

@media (max-width: 768px) {
	.banner-img {
		position: absolute;
		clip-path: circle(15% at 50% 80%);
		height: 100vh;
		width: 100vw;
		transform-origin: 50% 50%;
		background: url(../../public//images//57695504619.png) 50% 50% no-repeat;
		background-size: 200%;
	}
}

/* Rotating shine effect */
@keyframes rotateShine {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes shine {
	0% {
		transform: translateX(-100%) skewX(-15deg);
	}
	100% {
		transform: translateX(100%) skewX(-15deg);
	}
}
.display-none {
	display: none;
}
.animate-shine {
	animation: shine 3s infinite linear;
	mask-image: linear-gradient(
		90deg,
		rgba(0, 0, 0, 0) 10%,
		rgba(0, 0, 0, 0.8) 40%,
		rgba(0, 0, 0, 0) 60%
	);
}

@keyframes float {
	0% {
		transform: translateY(0) translateX(0);
		opacity: 0.3;
	}
	50% {
		transform: translateY(-20px) translateX(20px);
		opacity: 0.8;
	}
	100% {
		transform: translateY(0) translateX(0);
		opacity: 0.3;
	}
}

path {
	filter: url(#glow);
}

@keyframes float {
	0% {
		transform: translateY(0) translateX(0);
	}
	50% {
		transform: translateY(-20px) translateX(10px);
	}
	100% {
		transform: translateY(0) translateX(0);
	}
}
@keyframes shinee {
	0% {
		transform: translateX(-100%) skewX(-20deg);
	}
	100% {
		transform: translateX(200%) skewX(-20deg);
	}
}
.animate-shinee {
	animation: shinee 3s infinite linear;
}
