@keyframes float {
	0% {
		transform: translateY(0) translateX(0);
		opacity: 1;
	}
	50% {
		transform: translateY(-40px) translateX(20px);
		opacity: 0.8;
	}
	100% {
		transform: translateY(0) translateX(0);
		opacity: 1;
	}
}

@keyframes shine {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(200%);
	}
}

.animate-shine {
	animation: shine 3s linear infinite;
	mask-image: linear-gradient(
		60deg,
		rgba(0, 0, 0, 0.2) 25%,
		rgba(0, 0, 0, 0.8) 50%,
		rgba(0, 0, 0, 0.2) 75%
	);
}
